.live-chat{
    max-width: 400px;
    margin: 0 24px;
}

.live-chat-wrapper {
    min-width: 400px;
    min-height: 600px;
    max-width: 400px;
    max-height: 600px;
    border: 0.5px solid hsla(0, 0%, 53.3%, 0.4);
    border-radius: 8px;
    border-bottom-left-radius: 0;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    margin: 0 12px;
}

.live-chat-container {
    display: flex;
    flex-direction: column-reverse;
}

.live-chat-heading {
    padding: 12px 12px 12px 24px;
    position: sticky;
    top: 0;
    background: var(--bg-color);
    z-index: 10;
    border-bottom: 0.5px solid hsla(0, 0%, 53.3%, 0.4);
}

.live-chat-input-container {
    min-width: 400px;
    max-width: 400px;
    border: 0.5px solid hsla(0, 0%, 53.3%, 0.4);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0 12px;
    display: flex;
    align-items: center;
}

.live-chat-input-container input {
    width: 240px;
    padding: 12px;
    margin: 12px;
    margin-left: 36px;
    border-radius: 24px;
    background-color: var(--bg-color);
    outline: none;
    border: 0.5px solid #aaa;
    color: var(--text-color);
}

.live-chat-input-container input:focus{
    outline: none;
}

.live-chat-input-container svg{
    cursor: pointer;
    padding: 8px;
}

.live-chat-input-container button{
    all: unset;
}

.live-chat-input-container svg:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
}