.btn-list-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    position: relative;
    gap: 12px;
    margin: 0 48px;
    max-width: 80vw;
}

.scroll-button {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.btn-list-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

@media screen and (max-width:586px){
    .btn-list-container{
        max-width: 48vw;
    }
}

@media screen and (max-width:786px){
    .btn-list-container{
        max-width: 60vw;
    }
}

@media screen and (max-width:1200px){
    .btn-list-container{
        max-width: 72vw;
    }
}