.sidebar-container{
    /* overflow-y: scroll; */
}

.sidebar-container ul {
    padding-left: 24px;
    color: white;
}

.sidebar-ul li {
    list-style-type: none;
    padding: 6px 24px 6px 0;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-right: 4px;
}

.sidebar-ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 8px;
}

.sidebar-ul h4{
    display: flex;
    gap: 8px;
    align-items: center;
}

hr {
    border: none;
    border-top: 0.5px solid hsla(0,0%,53.3%,0.4);
}

.selected-tab{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 8px;
}