.comments-card {
    display: flex;
    gap: 12px;
    padding: 12px;
}

.comment-author-image img {
    border-radius: 24px;
}

.comment-author-description {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.comment-author {
    font-size: 0.8rem;
    display: flex;
    gap: 8px;
}

.comment-published-at{
    font-weight: 400;
    font-size: 0.8rem;
    color: #aaa;
}

.comment-description {
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 1200px;
    overflow: hidden;
}

.like-count {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 400;
    font-size: 0.8rem;
    color: #aaa;
}

@media only screen and (max-width: 1600px) {
    .comment-description {
        max-width: 1000px;
    }
}