body{
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  color: #f1f1f1;
}

:root {
  --bg-color: #f1f1f1;
  --text-color: #000;
  --btn-selected-bg-color: #000;
  --btn-selected-text-color: #f1f1f1;
  --btn-bg-color: rgba(0,0,0,0.05);

  --header-create-btn-bg-color: rgba(0,0,0,0.05);

  --search-result-container-bg-color: #f1f1f1;

}

.dark-mode {
  --bg-color: #000;
  --text-color: #f1f1f1;
  --btn-bg-color: rgba(255,255,255,0.1);
  --btn-selected-bg-color: #f1f1f1;
  --btn-selected-text-color: #000;
  
  --header-create-btn-bg-color: rgba(255,255,255,0.1);
 
  --search-result-container-bg-color: #212121;
}