.watch-container {
    margin: 24px;
    display: flex;
}

.watch-video-title {
    font-size: 1.2rem;
    margin: 8px;
}

.watch-video-channel-title {
    margin: 8px;
    font-weight: 600;
}

.watch-video-description {
    max-width: 1200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 60px;
    overflow: hidden;
}

.watch-video-description-container {
    max-width: 1200px;
    background: var(--btn-bg-color);
    padding: 16px;
    border-radius: 12px;
}

.comments-container {
    margin: 12px 24px 0 24px;
    font-weight: 600;
}

h3{
    margin: 0 0 18px 0;
}

@media only screen and (max-width: 1600px) {
    iframe {
       width: 1000px !important;
       height: 500px !important;
    }
    .watch-video-description-container,.watch-video-title, .watch-video-channel-title, .comments-container{
        max-width: 1000px;
    }
}