.logo-container {
    display: flex;
    gap: 8px;
    user-select: none;
    align-items: center;
}

.logo-container p {
    font-family: "Rubik", sans-serif;
}

.logo-container img{
    height: 42px;
    cursor: pointer;
}

.logo-container p{
    color: var(--text-color);
}